.steps {
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background-color: #fff;
    padding-top: 10px;
}

.wrap{
    width: 80%;
    height: 10px;
    margin: 0 auto;
    background-color: #f4f4f4;
}

.wrap>div{
    float: left;
    width: 33%;
    height: 10px;
    position: relative;
}

.four{
    width: 0 !important;
}

.one>span,.two>span,.three>span,.four>span{
    display: inline-block;
    position: absolute;
    left: -15px;
    top: -10px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 16px;
    background-color: #f4f4f4;
    text-align: center;
    color: #424853;
    font-size: 14px;

}

.one>span{
    background-color: #647c85;
    color: #fff;
}

.one>div,.two>div,.two>div,.three>div{
    float: left;
    display: inline-block;
    height: 10px;
    background-color: #647c85;
}

.four{
    background-color: #fff;
}

.wrap_box {
    width: 1000px;
    margin: 0 auto;
    background: #fff;
    padding-top: 45px;
    margin-top: 200px; 
    box-shadow: 1px 1px 15px rgba(0,0,0,.1);
}

.wrap_box >ul{
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    padding-bottom: 20px;
}

.wrap_box >ul>li{
    float: left;
    width: 25%;
}

.wrap_box >ul>li>span{
    color: #424853;
    font-size: 14px;
}

.wrap_box >ul>li:nth-child(1)>span{
    margin-left: 60px;
}

.wrap_box >ul>li:nth-child(2)>span{
    margin-left: 70px;
}

.wrap_box >ul>li:nth-child(3)>span{
    margin-left: 88px;
}

.wrap_box >ul>li:nth-child(4)>span{
    margin-left: 115px;
}